:root {
  --main-purple: #6400a0;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body {
  background-color: #121212;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  color: hsl(0, 0%, 50%);
  font-size: 1.15rem;
  margin: 0.75rem 0rem;
  align-self: flex-start;
}
h4 {
  color: hsl(0, 0%, 50%);
  font-size: 1rem;
  margin: 0.75rem 0rem;
  align-self: flex-start;
}
h2 {
  color: hsl(0, 0%, 50%);
}
h1 {
  font-size: 1.75rem;
}
.rightMessage {
  padding-left: 3rem;
}
.leftMessage {
  padding-right: 3rem;
}
.rightTextAlign {
  text-align: right;
  align-self: flex-end;
}

/* Media queries adjust the amount of columns based on the width of the screen, to better accommodate smaller devices  */
@media only screen and (max-width: 678px) {
  .rightMessage {
    padding-left: 3rem;
  }
  .leftMessage {
    padding-right: 3rem;
  }
}
@media only screen and (min-width: 678px) {
  .rightMessage {
    padding-left: 6rem;
  }
  .leftMessage {
    padding-right: 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .rightMessage {
    padding-left: 8rem;
  }
  .leftMessage {
    padding-right: 8rem;
  }
}
