.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
}
.hamburgerHolder {
  position: fixed;
  top: 0.75rem;
  left: 0.75rem;
  width: 2rem;
}
button.hamburger {
  width: 1.85rem;
  aspect-ratio: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
button.hamburger img {
  height: 100%;
  width: 100%;
  backdrop-filter: blur(0.1rem);
  border-radius: 0.2rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  height: 100%;
  width: 100%;
  padding: 0rem;
  position: fixed;
  inset: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;

  /*Scrolls, with scrollbar not affecting layout*/
}

.content > * {
  width: 100%;
}
.heroimg {
  /* width: 45%; */
  width: auto;
  max-width: 95%;
  max-height: 28vh;
  max-height: 26vh;
  aspect-ratio: 1/1;
  border: 3px solid white;
  border-radius: 50% 50%;
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
}

.content .buttonWrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.content h1 {
  margin-bottom: 1rem;
}

.content .buttonWrapper button {
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: none;
  background-color: var(--main-purple);
  color: white;
  width: auto;
  min-width: 10rem;
  min-width: 11.2rem;
  border: 3px solid white;
  border: none;
  border-radius: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-self: end;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.85rem;
  font-size: 1rem;
}
.content .buttonWrapper button.secondaryBtn {
  background: none;
  border: 3px solid white;
}

/* Media queries adjust the amount of columns based on the width of the screen, to better accommodate smaller devices  */
@media only screen and (max-width: 678px) {
  .content {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}
@media only screen and (min-width: 678px) {
  .content {
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media only screen and (min-width: 1200px) {
  .content {
    padding-left: 30%;
    padding-right: 30%;
  }
}
